### Manage Pokemon Dataset

In [14]:
import pandas as pd

In [15]:
pkmn_dataset = pd.read_csv('csv/all_pkmn_data.csv', index_col=False)

In [16]:
pkmn_dataset

,Name,Pokedex_Number,Type,Ability,Hp,Attack,Defense,Sp. Attack,Sp. Defense,Speed
0,Bulbasaur,#00001,"['Grass', 'Poison']",Overgrow Chlorophyll,45,49,49,65,65,45
1,Ivysaur,#00002,"['Grass', 'Poison']",Overgrow Chlorophyll,60,62,63,80,80,60
2,Venusaur,#00003,"['Grass', 'Poison']",Overgrow Chlorophyll,80,82,83,100,100,80
3,Charmander,#00004,"['Fire', nan]",Blaze Solar Power,39,52,43,60,50,65
4,Charmeleon,#00005,"['Fire', nan]",Blaze Solar Power,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...
1005,Iron Valiant,#1006,"['Fairy', 'Fighting']",Quark Drive,74,130,90,120,60,116
1006,Koraidon,#1007,"['Fighting', 'Dragon']",Orichalcum Pulse,100,135,115,85,100,135
1007,Miraidon,#1008,"['Electric', 'Dragon']",Hadron Engine,100,85,100,135,115,135
1008,Walking Wake,#1009,"['Water', 'Dragon']",Protosynthesis,99,83,91,125,83,109
1009,Iron Leaves,#1010,"['Grass', 'Psychic']",Quark Drive,90,130,88,70,108,104

In [17]:
pkmn_data_set = pkmn_dataset.rename(columns={'Sp. Attack' : 'Sp_Attack',
                                             'Sp. Defense' : 'Sp_Defense'})

In [18]:
pkmn_data_set.to_csv('csv/pkmn_dataset.csv', index=False)